<div ng-hide="isAuthenticated">
    <div align="center">
        <h2>Registration</h2>
    </div>
    <div align="center">
        <u><i>Email</i></u> </br></br>
        <input type="email" placeholder="Your Email" ng-model="email"> </br></br>
        <u><i>Password</i></u> </br></br>
        <input type="password" placeholder="Your Password" ng-model="password">
    </div>
    <div align="center">
        </br></br>
        <button class="button1" ng-click="signup()">Register</button>
    </div>
    <div>
        {{error}}
    </div>
</div>