html, body, .all, #header, #main{
    height: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    background: darkgray;
}

#header {
    width: 100%;
}

/* Top - block*/
#top {
    height: 80px;
    background: #060E1F; /* #22465f;8*/
    position: fixed;
    width: 960px;
    z-index: 3;
}

/*Left -block*/
#left {
    padding-top: 0px; /* move content*/
    margin-top: 80px; /* move block*/
    height: 100%;
    width: 200px;
    float: left;
    background: #060E1F;
    position: fixed;
}

/*background for photo*/
#back-photo {
    background: whitesmoke;
    margin-right: -10px;
    margin-left: -10px;
}

/*input tag for search*/
#search {
    margin-top: 15px;
    width: 194px;
    height: 25px;
    background: #cbdce6;
    margin-left: 3px;
    border: darkcyan;
    font-family: "Myraid Pro Regular", sans-serif;
    font-size: 20px;
    text-align: center;

}

/*text color,size and type*/
.text-color {
    font-family: "Myraid Pro Regular", sans-serif;
    font-size: 20px;
    color: white;
}
.text-color a {
    font-family: "Myraid Pro Regular", sans-serif;
    font-size: 20px;
    color: white;

    text-decoration: none;
}

/*registration text tag*/
#registration {
    margin-left: 580px;
    margin-top: 30px;
}

/*Text for photoBlog.com*/
#blog {
    margin-left: 40px;
    float: left;
}

#blog a {
    text-decoration: none;
    color: #fff;
}

.top-user-block {
    float: right;
    padding-right: 25px;
}

.top-user-block a {
    text-decoration: none;
    color: #fff;
}

#top div {
    padding-top: 25px;
}

/*display inline*/
#top p {
    text-align: center;
    display: inline-block;
}

p.top-user-block {
    text-align: right;
}

/*text for quest*/
#guest {
    text-align: center;
    margin-top: 1px;

}

#choice li {
    margin: 12px;
    padding-right: 45px;
    list-style-type: none;
    text-align: center;

}

/*Mouse on text effect*/
#choice li:hover {
    color: lightslategrey;

}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
}

#settings img {
    margin-left: auto;
    margin-right: auto;
    height: 53px;
    width: 53px;
    padding-left: 8px;
}

#registration:hover, #registration1:hover {
    color: #e04f5f;
}

#gallery {
    z-index: 2;
}

/*Try to use masonry*/

.size4 {
    width: 50%;
    box-sizing: border-box;
    padding: 1px;

}

.item-masonry img {
    padding-left: 1px;
    width: 100%;
    display: block;
}

.user-block-control-panel {
    text-align: center;
}

.user-block-control-panel a img {
    width: 30px;
    height: 30px;
}

.content {
    background-color: #fff;
    min-height: 100%;

    /*200 + 10*/
    padding: 80px 10px 10px 210px;
}
.error {
    font-style: italic;
    /*
        may be red color? or something else
        color: #f00;
    */
}