.form-group .help-block {
    display:none;
}
.form-group.has-error .help-block {
    display:block;
}
.error {
    font-style: italic;
    margin: 10px 0 10px 0;
    /*
        may be red color? or something else
        color: #f00;
    */
}
