<div id="back-photo">
    <div id="gallery"> <!-- Masonry -->
        <div class="item-masonry size4" ng-repeat="post in posts" repeat-end="postsLoaded()">
            <!--{{post.title}}-->
            <img ng-src="{{post.image.path}}" ng-click="showModalDialog(post)">
        </div>
    </div>
</div>
{{error}}
<div id="postModalDialog" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>{{post.title}}</strong></h4>
            </div>
            <div class="modal-body panel-group">
                <div class="panel">
                    <strong>Author: </strong>{{post.author.username}}
                </div>
                <div class="panel post-image">
                    <img src="{{post.image.path}}" alt="post_image">
                </div>
                <div class="panel">
                    <strong>category: </strong>{{post.category.title}}
                </div>
                <div class="panel">
                    <strong>description:</strong>
                </div>
                <div class="panel">
                    <blockquote>
                        {{post.description}}
                        <footer>{{post.author.username}}</footer>
                    </blockquote>
                </div>

                <div class="panel">
                    <strong>Created at: </strong>{{post.createdAt | date : 'EEEE, dd/MM/yyyy HH:mm'}}
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


